@using ASP.NET_Lesson4.Controllers
@using ASP.NET_Lesson4.Models

@model User
@{
    ViewData["Title"] = "Home Page";
}




@{
    var info = ViewBag.user;


    <p>@info.name</p>
    <p>@info.surname</p>
    <p>@info.age</p>
}






<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
